# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# testing
/coverage

# production
build

# env variables
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env

# misc
.DS_Store

